String manipulation

In [2]:
import pandas as pd

In [3]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url)

#city_mpg = df.city08
#highway_mpg = df.highway08

make = df.make

C:\Users\wgrom\AppData\Local\Temp\ipykernel_1776\1238616752.py:2: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [3]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [4]:
make.astype('string')

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string

In [23]:
age = pd.Series(['0-10','11-15','11-15','61-65','46-50'])

In [28]:
age.str.split('-', expand=True)

    0   1
0   0  10
1  11  15
2  11  15
3  61  65
4  46  50

In [40]:
(age
 .str.split('-', expand=True)
 .iloc[:,0]
 .astype(int))

0     0
1    11
2    11
3    61
4    46
Name: 0, dtype: int32

In [54]:
(age
 .str.slice(-2)
 .astype(int))

0    10
1    15
2    15
3    65
4    50
dtype: int32

In [57]:
(age
 .str.split('-', expand=True)
 .astype(int)
 .mean(axis='columns'))

0     5.0
1    13.0
2    13.0
3    63.0
4    48.0
dtype: float64

In [59]:
import random

def between(row):
    return random.randint(*row.values)

(age
 .str.split('-',expand=True)
 .astype(int)
 .apply(between, axis='columns'))

0     0
1    12
2    14
3    65
4    48
dtype: int64

In [62]:
%load_ext Cython

In [69]:
%%cython
import random
cpdef  int between_cy3(int x, int y):
    return random.randint(x,y)

In [70]:
(age
 .str.split('-', expand=True)
 .astype(int)
 .apply(lambda row: between_cy3(row[0], row[1]), axis=1)
 )

0     8
1    11
2    12
3    61
4    49
dtype: int64

In [72]:
%prun -l 10 (age.str.split('-', expand=True) .astype(int).apply(lambda row: between_cy3(row[0], row[1]), axis=1))

         1518 function calls (1499 primitive calls) in 0.002 seconds

   Ordered by: internal time
   List reduced from 295 to 10 due to restriction <10>

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.002    0.002 {built-in method builtins.exec}
  329/327    0.000    0.000    0.000    0.000 {built-in method builtins.isinstance}
        4    0.000    0.000    0.000    0.000 {pandas._libs.lib.maybe_convert_objects}
      3/2    0.000    0.000    0.001    0.000 series.py:323(__init__)
      2/1    0.000    0.000    0.000    0.000 base.py:397(__new__)
        5    0.000    0.000    0.000    0.000 construction.py:470(sanitize_array)
       10    0.000    0.000    0.000    0.000 series.py:943(__getitem__)
       16    0.000    0.000    0.000    0.000 generic.py:5577(__setattr__)
        3    0.000    0.000    0.000    0.000 {method 'reduce' of 'numpy.ufunc' objects}
        1    0.000    0.000    0.000    0.000 accessor.py:251(_wrap_result)

In [43]:
make.str.find('A')

0        0
1       -1
2       -1
3       -1
4       -1
        ..
41139   -1
41140   -1
41141   -1
41142   -1
41143   -1
Name: make, Length: 41144, dtype: int64

In [ ]:
'Alfa Romeoa'.find('z')

In [52]:
(make
 .str.extract(r'([^a-z A-Z])', expand=False)
 .value_counts())

-    1727
.      46
,       9
Name: make, dtype: int64

11.9 Exercises

In [4]:
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [5]:
# lower case the values

(make
 .str.lower())

0        alfa romeo
1           ferrari
2             dodge
3             dodge
4            subaru
            ...
41139        subaru
41140        subaru
41141        subaru
41142        subaru
41143        subaru
Name: make, Length: 41144, dtype: object

In [7]:
(make
 .str
 .slice(0,1))

0        A
1        F
2        D
3        D
4        S
        ..
41139    S
41140    S
41141    S
41142    S
41143    S
Name: make, Length: 41144, dtype: object

In [12]:
(make
 .str
 .slice(-3))

0        meo
1        ari
2        dge
3        dge
4        aru
        ...
41139    aru
41140    aru
41141    aru
41142    aru
41143    aru
Name: make, Length: 41144, dtype: object