In [8]:
import pandas as pd
import numpy as np

In [9]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url)

city_mpg = df.city08
highway_mpg = df.highway08

C:\Users\wgrom\AppData\Local\Temp\ipykernel_4780\3320753874.py:2: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [3]:
df.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,41144.000000,41144.000000,41144.0,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,...,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000,41144.000000
mean,17.283900,0.220294,0.0,0.044872,18.369045,5.978814,0.665808,0.519901,0.000461,0.322713,...,23.204206,0.861106,34.343752,1.144059,2001.535266,-4056.132121,0.009668,0.153339,0.152999,0.152513
std,4.623232,1.140919,0.0,0.602894,7.905886,11.644783,5.225626,5.074261,0.038774,3.788006,...,11.232357,7.325415,11.259252,7.765665,11.142414,3281.796526,0.232397,2.946152,2.825546,2.873408
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-29250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.239750,0.000000,27.895500,0.000000,1991.000000,-5750.000000,0.000000,0.000000,0.000000,0.000000
50%,16.480500,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.400000,0.000000,33.235700,0.000000,2002.000000,-4000.000000,0.000000,0.000000,0.000000,0.000000
75%,19.388824,0.000000,0.0,0.000000,20.000000,14.055000,0.000000,0.000000,0.000000,0.000000,...,25.900375,0.000000,39.000000,0.000000,2011.000000,-1750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,13.000000,150.000000,150.000000,145.000000,145.083500,5.350000,122.000000,...,224.800000,207.262200,182.700000,173.143600,2020.000000,5250.000000,8.500000,97.000000,81.000000,88.000000

In [10]:
make = df.make

In [11]:
city2 = city_mpg.rename(make.to_dict())

In [12]:
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64

In [13]:
city2.loc['Subaru' ]

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 885, dtype: int64

In [7]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [8]:
s_list = ('Dave', 'Suze', 'Adam', 'Liv')

s = pd.Series(s_list)

In [9]:
s

0    Dave
1    Suze
2    Adam
3     Liv
dtype: object

In [11]:
s.rename(index={0:'first'})

first    Dave
1        Suze
2        Adam
3         Liv
dtype: object

In [12]:
def to_str(val):
    return f"idx-{val}"

s.rename(to_str)

idx-0    Dave
idx-1    Suze
idx-2    Adam
idx-3     Liv
dtype: object

In [17]:
s.index

s.values

array(['Dave', 'Suze', 'Adam', 'Liv'], dtype=object)

In [15]:
s2 = pd.Series(['a','b','c','d'])

s.rename(index=s2)

a    Dave
b    Suze
c    Adam
d     Liv
dtype: object

In [21]:
city2.reset_index()

pandas.core.frame.DataFrame

In [20]:
type(city2)

pandas.core.series.Series

In [36]:
f_dict = {'Paul':145, 'John':142,'George':38,'Ringo':13}

ss = pd.Series(f_dict)

(ss.reset_index())

    index    0
0    Paul  145
1    John  142
2  George   38
3   Ringo   13

In [ ]:
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
                               'Mahindra', 'Maruti', 'Hyundai',
                               'Renault', 'Tata', 'Maruti'],
                     'Year': [2012, 2014, 2011, 2015, 2012,
                              2016, 2014, 2018, 2019],
                     'Kms Driven': [50000, 30000, 60000,
                                    25000, 10000, 46000,
                                    31000, 15000, 12000],
                     'City': ['Gurgaon', 'Delhi', 'Mumbai',
                              'Delhi', 'Mumbai', 'Delhi',
                              'Mumbai', 'Chennai',  'Ghaziabad'],
                     'Mileage':  [28, 27, 25, 26, 28,
                                  29, 24, 21, 24]})
 
# displaying the DataFrame
display(data)

In [ ]:
# selecting cars with brand 'Maruti' and Mileage > 25

#display(data.loc[(data.Brand == 'Maruti') & (data.Mileage & gt  25)])

display( data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)  ])


data.loc[1]   # access by labels


data.iloc[1]  # by index