In [1]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url)

city_mpg = df.city08
highway_mpg = df.highway08

C:\Users\wgrom\AppData\Local\Temp\ipykernel_9220\3320753874.py:2: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [4]:
def gt20(val):
    return val > 20

In [6]:
%%timeit
city_mpg.apply(gt20)

7.11 ms ± 288 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [7]:
%%timeit
city_mpg.gt(20)

94 µs ± 9.84 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [8]:
make = df.make

In [9]:
make.value_counts()

Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: make, Length: 136, dtype: int64

In [12]:
top5 = make.value_counts().index[:5]

def generalized_top5(val):
    if val in top5:
        return val
    return 'Other'

In [13]:
make.apply(generalized_top5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [14]:
make.where(make.isin(top5), other='Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [36]:
make.where(~make.isin(top5), other='Other')

0        Alfa Romeo
1           Ferrari
2             Other
3             Other
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: object

In [16]:
cyl = df.cylinders
(cyl
 .isna()
 .sum())

206

In [17]:
missing = cyl.isna()
make.loc[missing]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: object

In [18]:
cyl[cyl.isna()]

7138    NaN
7139    NaN
8143    NaN
8144    NaN
8146    NaN
         ..
34563   NaN
34564   NaN
34565   NaN
34566   NaN
34567   NaN
Name: cylinders, Length: 206, dtype: float64

In [24]:
t = [1, 2, 3, 4]
#s= {1, 2, 3, 4}

t_series = pd.Series(t)
#s_series = pd.Series(s)



type(t_series)

pandas.core.series.Series

In [35]:
t[0:1] = [6]


t[0:2] = [4]

[4, 4]

In [26]:
t_series[1:2]

1    2
dtype: int64

In [27]:
t_series.iloc[2]

3

Interpolating Data

In [37]:
temp = pd.Series([32,40,None, 42,39,32])

In [38]:
temp

0    32.0
1    40.0
2     NaN
3    42.0
4    39.0
5    32.0
dtype: float64

In [39]:
temp.interpolate()

0    32.0
1    40.0
2    41.0
3    42.0
4    39.0
5    32.0
dtype: float64

clipping Data

In [40]:
city_mpg.loc[:446]

0      19
1       9
2      23
3      10
4      17
       ..
442    15
443    15
444    15
445    15
446    31
Name: city08, Length: 447, dtype: int64

In [41]:
(city_mpg
    .loc[:446]
    .clip(lower=city_mpg.quantile(.05),
        upper=city_mpg.quantile(.95))
    )

0      19.0
1      11.0
2      23.0
3      11.0
4      17.0
       ...
442    15.0
443    15.0
444    15.0
445    15.0
446    27.0
Name: city08, Length: 447, dtype: float64

In [44]:
city_mpg.drop_duplicates()

0         19
1          9
2         23
3         10
4         17
        ...
34364    127
34409    114
34564    140
34565    115
34566    104
Name: city08, Length: 105, dtype: int64