In [1]:
import pandas as pd
import numpy as np

In [2]:
series = {
    'index':[0,1,2,3],
    'data':[145,142,38,13],
    'name':'songs'
}

def get(series, idx):
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

In [3]:
get(series, 1)

142

In [4]:
songs2 = pd.Series([145,142, 38,13], 
    name='counts')

songs3 = pd.Series([5, 6])

In [5]:
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [6]:
songs3 = pd.Series((145,142,38,13),
            name='counts',
            index=['Paul','John', 'George', 'Rindo'])

In [7]:
songs3.index

Index(['Paul', 'John', 'George', 'Rindo'], dtype='object')

In [8]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
class Foo():
    pass

ringo = pd.Series(['Richard', 'Starkey', 13, Foo()],
    name='ringo')

In [10]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [11]:
ringo

0                                        Richard
1                                        Starkey
2                                             13
3    <__main__.Foo object at 0x000001A00840C490>
Name: ringo, dtype: object

In [12]:
nan_series = pd.Series([2, np.nan],
        name='test',
        index=['ono','Clapton'])

In [13]:
nan_series

ono        2.0
Clapton    NaN
Name: test, dtype: float64

In [14]:
nan_series.count()

1

In [15]:
nan_series.size

2

In [16]:
songs3[1]

142

In [17]:
songs3['Paul']

145

In [18]:
mask = songs3 > songs3.median()

In [19]:
mask

Paul       True
John       True
George    False
Rindo     False
Name: counts, dtype: bool

In [20]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64

In [21]:
s = pd.Series(['m', 'l','xs','s','xl'], dtype='category')

t= pd.Series()

C:\Users\wgrom\AppData\Local\Temp\ipykernel_18068\2819039934.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  t= pd.Series()

In [22]:
t

Series([], dtype: float64)

In [23]:
s2 = pd.Series(['m','l','xs','s','xl'])

size_type= pd.api.types.CategoricalDtype(
        categories=['s','m','l'], ordered=True)

s3 = s2.astype(size_type)

In [24]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [25]:
s3 > 's'

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [26]:
s3

0      m
1      l
2    NaN
3      s
4    NaN
dtype: category
Categories (3, object): ['s' < 'm' < 'l']

In [27]:
s = s.cat.reorder_categories(['xs','s','m','l','xl'],
                          ordered=True)

In [28]:
s

0     m
1     l
2    xs
3     s
4    xl
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']

In [29]:
# series of temperatures
t = pd.Series([4,89,43, 55, 44])

In [30]:
t[t > t.mean()]

1    89
3    55
dtype: int64

In [31]:
c = pd.Series(['red', 'blue', 'green'],
               dtype='category' )

In [32]:
c

0      red
1     blue
2    green
dtype: category
Categories (3, object): ['blue', 'green', 'red']